<body>
<section>
<h1>Add a New Shoe!</h1>


    <fieldset>
        <label for="shoeName">Shoe Name: </label>
        <input required [(ngModel)]="name" name="shoeName" />
    </fieldset>
    <fieldset>
        <label for="shoePrice">Price: </label>
        <input type="number" min="0.01" required [(ngModel)]="price" name="shoePrice" />
    </fieldset>
    <fieldset>
        <label for="shoeCategory">Category: </label>
        <input [(ngModel)]="category" name="shoeCategory" />
    </fieldset>
    <fieldset>
        <label for="shoeManufacturer">Manufacturer: </label>
        <input required [(ngModel)]="manufacturer" name="shoeManufacturer" />
    </fieldset>

    <!-- Button to Add Shoe -->
    <button class="btn btn-success" (click)="addShoe()">Save Shoe</button>
</section>
</body>
