<h1>Add Something!</h1>
<section class="col-lg-6">
    <fieldset>
        <label for="name">Name: </label>
        <input required [(ngModel)]="name"/>
    </fieldset>
    <fieldset>
        <label for="price">Price: </label>
        <input type = "number " min="0.01" required [(ngModel)] = "price"/>
    </fieldset>
    <fieldset>
        <label for="category">Category: </label>
    </fieldset>
    <fieldset>
        <label for="manufacturer">Manufacturer: </label>
        <input required/>
        <select [(ngModel)] = "manufacturer" required>
            <option *ngFor="let manufacturer of MANUFACTURERS" [value]="manufacturer._id">
                {{manufacturer.name}}
            </option>
        </select>
    </fieldset>
    <button class="btn-btn-primary offset-2"(click)="addShoe()">Save</button>
</section>