<h1>Check out the shoes!</h1>


<section class="row">
    <section class="col-lg-6">
        <ul class="list-group">
            <li *ngFor="let shoe of SHOES" class="list-group-item">
                <h4 class="list-group-item-heading">
                    {{shoe.name}}
                </h4>
                <h6>
                    ${{ shoe.price }}
                </h6>
                <h6 *ngIf="shoe.category">
                    ${{ shoe.category }}
                </h6>
                <h6>
                    ${{ shoe.manufacturer.name }}
                </h6>
            </li>
        </ul>
    </section>
</section>

